[Unit]
Description= MM Camera Daemon Service
SourcePath=/system/bin/mm-qcamera-daemon
After=logd.service
Wants=logd.service

[Service]
Restart=always
ExecStart=/system/bin/mm-qcamera-daemon

[Install]
WantedBy=multi-user.target
