# Copyright (c) 2017 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#

[Unit]
Description=slpi start service
SourcePath=/etc/initscripts/slpi.sh

[Service]
Type=forking
Restart=no
TimeoutSec=5min
ExecStart=/etc/initscripts/slpi.sh start
ExecStop=/etc/initscripts/slpi.sh stop

[Install]
WantedBy=multi-user.target
