# Copyright (c) 2017 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#

[Unit]
Description=time serviced Service
SourcePath=/etc/initscripts/time_serviced
After=data.mount mount-data.service

[Service]
Restart=no
RemainAfterExit=yes
ExecStart=/etc/initscripts/time_serviced start
ExecStop=/etc/initscripts/time_serviced stop

[Install]
WantedBy=multi-user.target
