# Copyright (c) 2018 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#

[Unit]
Description=start cnss daemon
SourcePath=/usr/sbin/cnss_daemon

[Service]
Restart=no
RemainAfterExit=yes
ExecStart=/usr/sbin/cnss_daemon -n -dd

[Install]
WantedBy=multi-user.target
