[Unit]
Description=ql-fb-service
DefaultDependencies=no
After=quec_launcher.service
Before=local-fs-pre.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/ql-fb-service
ExecStop=/sbin/start-stop-daemon -K -n /usr/bin/ql-fb-service
RestartSec=1

[Install]
WantedBy=multi-user.target.wants
