# Copyright (c) 2017 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

[Unit]
Description=mcu time sync Service
SourcePath=/etc/time_sync.sh

[Service]
ExecStart=/etc/time_sync.sh start
ExecStop=/etc/time_sync.sh stop

