# Copyright (c) 2017, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

allow sshd_t self:capability net_raw;
allow ssh_t self:capability net_raw;
allow sshd_t device_t:sock_file { read write open getattr };
allow sshd_t bin_t:file { read write open getattr execute };
init_udgram_socket_set(sshd_t)
allow sshd_t var_t:file { read write getattr open lock };
allow sshd_t initrc_t:unix_dgram_socket { sendto };

gen_require(`
        type sysadm_t;
')
allow sshd_t initrc_var_run_t:dir { search getattr };
allow sshd_t sysadm_t:process { siginh rlimitinh transition noatsecure };
allow sshd_t var_run_t:file { read write open lock };
allow sshd_t var_t:file append;
allow sshd_t user_home_t:dir { search read write open getattr add_name remove_name };

gen_require(`
        type initrc_var_run_t;
')
allow ssh_keygen_t initrc_var_run_t:dir { write search add_name };
allow ssh_keygen_t initrc_var_run_t:file { write create open getattr };
