# Copyright (c) 2017 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#

[Unit]
Description=mdsprpc Service
SourcePath=/usr/bin/mdsprpcd

[Service]
Restart=always
ExecStart=/usr/bin/mdsprpcd

[Install]
WantedBy=multi-user.target
