# Copyright (c) 2018 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

[Unit]
Description=imud Service
SourcePath=/etc/imud.sh

[Service]
Type=forking
ExecStart=/etc/imud.sh start
ExecStop=/etc/imud.sh stop
